# python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# data
*.db
*.db-shm
*.db-wal
data/*.jpg
data/*.jpeg
data/*.png
data/*.pdf
backend/media/

# os / editor
.DS_Store
.vscode/
.idea/
*.log

# folders
frontend_depr